
<div class="container box mt-6">
    <div class="columns mt-6">
      <div class="column">
        <img src="<%= qpon.image%>">
      </div>
      <div class="column content is-large">
          <ul>

            <li class="my-2 label"><%= qpon.title %></li>

            <li  class="my-2 label"><%= qpon.restaurant %></li>

            <li  class="my-2 label"><%= qpon.region %></li>

            <li class="my-2 label"><%= qpon.mall %></li>

            <li class="my-2 label"><%= qpon.quota %></li>

            <li class="my-2 label"><%= qpon.coins %></li>

            <li class="my-2 label"><%= qpon.expiryDate %></li>

            <li class="my-2 label"><%= qpon.detail %></li>

          </ul>
          <% if(showRedeemQpon) { %>
              <button class="button is-primary">
                Redeem
              </button>
          <% } %>

      </div>
    </div>
</div>
