<form action="/qpon/update/<%= qpon.id %>" method="post">
  <div class="container mt-6">
    <div class="columns">
      <div class="column is-half">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" name="title" value="<%= qpon.title %>" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Restaurant</label>
            <div class="control">
                <input class="input" type="text" name="restaurant" value="<%= qpon.restaurant %>" required>
            </div>
        </div>

        <div class="columns">

          <div class="column level-left">
            <div class="field">
                <label class="label">Region</label>
                <div class="control">
                  <div class="select">
                    <select name="region" value="<%= qpon.region %>">
                      <option>HK Islands</option>
                      <option>Kowloon</option>
                      <option>New Territories</option>
                    </select>
                  </div>
                </div>
              </div>
          </div>

          <div class="column level-right">
            <label class="label">Mall</label>
                <div class="control">
                  <div class="select">
                    <select name="mall" value="<%= qpon.mall %>">
                    <option>IFC Mall</option>
                    <option>Pacific Place</option>
                    <option>Times Square</option>
                    <option>Elements</option>
                    <option>Harbour City</option>
                    <option>Festival Walk</option>
                    <option>MegaBox</option>
                    <option>APM</option>
                    <option>New Town Plaza</option>
                    <option>Tsuen Wan Plaza</option>
                    </select>
                  </div>
                </div>
          </div>
        </div>

        <div class="field">
            <label class="label">Image</label>
            <div class="control">
                <input class="input" type="text" name="image" value="<%= qpon.image %>" required>
            </div>
        </div>
      </div>

    <div class="column is-half">

      <div class="columns">
        <div class="column">
          <div class="field">
              <label class="label">Quota</label>
              <div class="control">
                  <input class="input" type="number" name="quota" value="<%= qpon.quota %>" required>
              </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
              <label class="label">Coins</label>
              <div class="control">
                  <input class="input" type="number" name="coins" value="<%= qpon.coins %>" required>
              </div>
          </div>
        </div>
      </div>


      <div class="field">
          <label class="label">Date</label>
          <div class="control">
              <input class="input" type="text" name="date" value="<%= qpon.date %>" required>
          </div>
      </div>

      <div class="field">
          <label class="label">Detail</label>
            <textarea class="textarea" name="detail" placeholder="e.g. Hello world"><%= qpon.detail %></textarea>
      </div>

      <div class="buttons">
        <button type="submit" class="button is-primary">Submit</button>
        <button type="button" onclick="deleteItem();" class="button is-danger">Delete</button>
      </div>
    </div>
    </div>
  </div>
</form>

<script>
function deleteItem() {
    $.get( "/qpon/delete/<%= qpon.id %>").done(function() {
      alert( "Qpon with ID : <%= qpon.id %> was deleted." );
  }).fail(function() {
    alert("Fail to delete item with ID : <%= qpon.id %>");
  });
}
</script>

